@font-face {
    font-family: 'VCRDOSDMONO';
    src: url(VCR_OSD_MONO_1.001.ttf);
}

/* Set the centered div properties */
.centered-div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 60%;
    text-align: center;
    background-color: black;
    border-top: 1em solid white ;
    border-bottom: 0.2em solid white;
    border-left: 0.2em solid white;
    border-right: 0.2em solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

/* Set the h2 properties */
h2 {
    font-family: 'VCRDOSDMONO';
    font-size: 2vw;
    color: white;
    margin-top: 0; /* Add margin-top to move it further to the top */
    margin-bottom: 7vh;
}

/* Set the horizontal properties */
.horizontal {
    display: flex;
    justify-content: center; /* Center the input containers horizontally */
    margin-bottom: 5vh;
    width: 30%;
}

/* Style the input fields */
.horizontal input[type="text"] {
    text-align: center;
    border: none;
    background-color: transparent;
    font-size: 3em;
    font-family: 'VCRDOSDMONO';
    color: #00ff06;
    height: 1em; /* Adjust the height of the input */
    width: 2em; /* Adjust the width of the input */
    margin-bottom: 0.5em; /* Add margin-bottom for spacing */
    border-bottom: 5px solid #00ff06; /* Adjust the thickness of the line */
    margin-right: 0.5em;
    margin-left: 0.5em;
    outline: none;
}

/* CSS to remove the up and down arrows */
.horizontal input[type="text"]::-webkit-outer-spin-button,
.horizontal input[type="text"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Set the first input properties */
.horizontal input:nth-child(1) {
    width: 2em;
}

/* Set the second input properties */
.horizontal input:nth-child(2) {
    width: 2.5em;
}

/* Set the third input properties */
.horizontal input:nth-child(3) {
    width: 2.5em;
}

/* Set the fourth input properties */
.horizontal input:nth-child(4) {
    width: 3.5em;
}

/* Set the fifth input properties */
.horizontal input:nth-child(5) {
    width: 2em;
}

/* Set the words img properties */
#words {
    width: 60%;
    height: auto;
    padding-bottom: 2vh;
}


/* Set the submit button properties */
.submitBtn {
    background-color: black;
    color: white;
    border: 3.5px solid #00ff06;
    font-size: 1.6em;
    font-family: 'VCRDOSDMONO';
    cursor: pointer;
}

/* Set the hover effect for the submit button */
.submitBtn:hover {
    transform: scale(1.1,1.1);
}

/* Set the close icon properties */
.close-icon {
    position: absolute;
    top: -16px;
    right: 10px;
    width: 1.1em; /* Adjust the width of the image as desired */
    height: 1.1em; /* Adjust the height of the image as desired */
    cursor: pointer;
}

/* Set the shake animation */
.shake {
    animation: shake 0.5s infinite;
}

/* Define the keyframes for the shake animation */
@keyframes shake {
    0% { transform: translate(-50%, -50%); }
    25% { transform: translate(-52%, -50%); }
    50% { transform: translate(-48%, -50%); }
    75% { transform: translate(-52%, -50%); }
    100% { transform: translate(-50%, -50%); }
}



/* Media query for horizontal mobile devices with a maximum width of 1000px */
@media only screen and (max-width: 1000px) and (orientation: landscape) {
    /* Set the centered div properties for mobile landscape */
    .centered-div {
        width: 70%;
        height: 70%;
    }

    /* Set the h2 properties for mobile landscape */
    h2 {
        font-size: 1.5em;
    }
   
    /*CSS to style the input fields */
    .horizontal input[type="text"] {
    font-size: 1.5em;
    }

    /* Set the submit button properties for mobile landscape */
    .submitBtn {
        font-size: 1.2em;
        width: 6vw;
        height: 8vh;
    }
}