@font-face {
    font-family: 'VCRDOSDMONO';
    src: url(../assets/fonts/VCR_OSD_MONO_1.001.ttf);
  }

  /* Change background color to black, and remove margin */
  body {
    background-color: black;
    margin: 0;
  }

  /* Change font and color, and put in the middle of the screen */
  #titleLeaderboard {
    font-family: 'VCRDOSDMONO';
    color: #00ff06;
    height: 10vh;
  }

  /* Home Image */
  #loginHome {
    padding-top: 1em;
    padding-left: 1em;
    height: 3em;
    width: 4em;
    transition: transform 0.3s ease;  /* Animates the transform property over 0.3 seconds with an easing effect */

  }

  /* Apply hover effect to the button */
  #loginHome:hover {
    transform: scale(1.1,1.1);  /* Enlarge the button by 10% when hovered */
  }

  /* Table Leaderboard */

  #tableLeaderboard , td{
    font-family: 'VCRDOSDMONO';
    src: url(../assets/fonts/VCR_OSD_MONO_1.001.ttf);
    font-size: 1.5vw;
    padding: 1vw;
    border: 0.2vw solid #00ff06;
    color: white;
    text-align: center;

    
  }
  th{
    font-weight: normal;
    padding: 0.5vw;
    text-align: center;
    border: 0.2vw solid #00ff06;
    color: white;
  }