@font-face {
    font-family: 'VCRDOSDMONO';
    src: url(../assets/fonts/VCR_OSD_MONO_1.001.ttf);
  }

  /* Change background color to black, and remove margin */
  body {
    background-color: black;
    margin: 0;
  }
  /*Put the taskbar to the bottom of the screen*/
  .taskbar-container {
    position: fixed;
    bottom: 0;
    width: 100%;
}
/*Adjust the img*/
.taskbar img {
    width: 100%; 
    display: block; 
    margin: 0 auto; 
}
/*Adjust the icons escale (inventory, trashcan)*/
.custom-image {
    width: 75%; 
    height: auto; 
    cursor: pointer;
  }


/*Style the text and position to be at the top right of the screen+*/
.corner-text {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    font-size: 12px;}

/*Align the image to the full size of the screen*/
#divTaskBar{
  padding: 0;
}
/*Makes the imgTrashOpen be in the center of the screen and be hidden until someone clicks the button to open it*/
#imgTrashOpen {
  z-index: 1;
  width: 65%;
  height: auto;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -60%);
  display: none;
}

#imgTrashOpen.animated-open {
  opacity: 1;
  transition: opacity 0.2s;
  transform: translate(-50%, -60%);
}

/*Makes the imgCodeForms be in the center of the screen and be hidden until someone clicks the button to open it*/
#imgCodeForms{
  z-index: 1;
  width: 50%; 
  height: auto; 
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%); 
    display: none;
}

/*Transition to the opacity */
#imgTrashOpen, #imgCodeForms {
  transition: opacity 0.2s;
}

/* Mantain the image fixed when doing the animation */
#imgTrashOpen.animated-close, #imgCodeForms.animated-close {
  opacity: 0;
}

/*Make the images be centered */
#imgTrashOpen, #imgCodeForms {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -60%);
}

