@font-face {
    font-family: 'VCRDOSDMONO';
    src: url(../assets/fonts/VCR_OSD_MONO_1.001.ttf);
  }

  /* Change background color to black, and remove margin */
  body {
    background-color: black;
    margin: 0;
  }
  /*Put the taskbar to the bottom of the screen*/
  .taskbar-container {
    position: fixed;
    bottom: 0;
    width: 100%;
}
/*Adjust the img*/
.taskbar img {
    width: 100%; 
    display: block; 
    margin: 0 auto; 
}
/*Adjust the icons escale (inventory, trashcan)*/
.custom-image {
    width: 6vw; 
    height: auto; 
    cursor: pointer;
  }


/*Style the text and position to be at the top right of the screen+*/
.corner-text {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    font-size: 1.3vw;}

/*Align the image to the full size of the screen*/
#divTaskBar{
  padding: 0;
}

/*Makes the imgTrashOpen be in the center of the screen and be hidden until someone clicks the button to open it*/
#imgTrashOpen{
  z-index: 1;
  width: 65%; 
  height: auto; 
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%);
  display: none;
}
/*Makes the imgTrashOpen be in the center of the screen and be hidden until someone clicks the button to open it*/
#imgInventoryOpen{
  z-index: 1;
  width: 55%; 
  height: auto; 
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%);
  display: none;
}
#tableInventory{
  z-index: 2;
  display: none;
  font-family: 'VCRDOSDMONO';
  src: url(../assets/fonts/VCR_OSD_MONO_1.001.ttf);
  color:#00FF06;
  font-size: 1.7vw;
  position: fixed;
   left:25%;
   top:30%;
}
/*Makes the imgCodeForms be in the center of the screen and be hidden until someone clicks the button to open it*/
#imgCodeForms{
  z-index: 1;
  width: 50%; 
  height: auto; 
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%); 
    display: none;
}

/*Make the image centered */
#imgTrashOpen, #imgCodeForms,#imgInventoryOpen {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/*make the files not so centered*/
#divFiles{
  height: 30vh;
}


#pause, #closeBtn, #inventoryCloseBtn, #fileImage, #closeBtnForms, #closeBtnFileA, #fileA, #closeBtnFileB, #fileB, #closeBtnFileC, #closeBtnFileCEx,
#fileC, #CorrectFileC, #Try1, #Try2, #Try3,#Try4, #closeBtnFileD, #closeBtnFileDEx, #fileD, #closeBtnFileE, #closeBtnFileEEx, #fileE,
#closeBtnFileF, #closeBtnFileFEx, #fileF, #closeBtnFileG, #closeBtnFileGEx, #fileG {
  cursor: pointer;
}

#fileImageTrash, #fileImgD, #fileImgE, #fileImgF, #fileImgG {
  cursor: pointer;
}

/*Adjust the fileA image to be centered*/
#imgFileA {
  z-index: 1;
  width: 70%; 
  height: auto; 
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%); 
    display: none;
}
/*Adjust the fileB image to be centered*/
#imgFileB{
  z-index: 1;
  width: 70%; 
  height: auto; 
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%); 
    display: none;
}
/*Adjust the fileC image to be centered*/
#imgFileC{
  z-index: 1;
  width: 65%; 
  height: auto; 
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%); 
    display: none;
}
/*Adjust the fileCEx image to be centered*/
#imgFileCEx{
  z-index: 1;
  width: 65%; 
  height: auto; 
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%); 
    display: none;
}
/*Adjust the imgFileD to be centered*/
#imgFileD{
  z-index: 1;
  width: 65%; 
  height: auto; 
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%); 
    display: none;
  cursor:default;
}
/*Adjust the imgFileDEx to be centered*/
#imgFileDEx{
  z-index: 1;
  width: 65%; 
  height: auto; 
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%); 
    display: none;
  cursor:default;
}
/*Adjust the imgFileE to be centered*/
#imgFileE{
  z-index: 1;
  width: 65%; 
  height: auto; 
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%); 
    display: none;
  cursor:default;
}
/*Adjust the imgFileEEx to be centered*/
#imgFileEEx{
  z-index: 1;
  width: 65%; 
  height: auto; 
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%); 
    display: none;
  cursor:default;
}
/*Adjust the imgFileF to be centered*/
#imgFileF{
  z-index: 1;
  width: 65%; 
  height: auto; 
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%); 
    display: none;
  cursor:default;
}
/*Adjust the imgFileFEx to be centered*/
#imgFileFEx{
  z-index: 1;
  width: 65%; 
  height: auto; 
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%); 
    display: none;
  cursor:default;
}

#imgFileG{
  z-index: 1;
  width: 65%; 
  height: auto; 
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%); 
    display: none;
  cursor:default;
}
#imgFileGEx{
  z-index: 1;
  width: 65%; 
  height: auto; 
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%); 
    display: none;
  cursor:default;
}
/*only temporary this is the 3trd game it needs to show after the first one is completed*/
#fileC{
  display: none;
}

/* Game 4 MiniGame*/
/* Set the centered div properties */
.centered-div-codeArrow {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 50%;
  text-align: center;
  background-color: black;
  border-top: 1em solid white ;
  border-bottom: 0.2em solid white;
  border-left: 0.2em solid white;
  border-right: 0.2em solid white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Set the h2 properties */
#codeArrow {
  font-family: 'VCRDOSDMONO';
  font-size: 2vw;
  color: #00ff06;
  margin-top: 0; /* Add margin-top to move it further to the top */
  margin-bottom: 4vh;
}

/* Set the horizontal properties */
.horizontal-codeArrow {
  display: flex;
  justify-content: center; /* Center the input containers horizontally */
  margin-bottom: 5vh;
}

/* Set the input container properties */
.input-container-codeArrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  margin-right: 3vw; /* Add margin-right for spacing */
  margin-left: 3vw; /* Add margin-left for spacing */
  width: 5vw;
}

.input-codeArrow::-webkit-outer-spin-button,
.input-codeArrow::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Set the input type number properties */
.input-container-codeArrow .input-codeArrow {
  text-align: center;
  border: none;
  background-color: transparent;
  font-size: 5em;
  font-family: 'VCRDOSDMONO';
}

/* Set the button properties */
.input-container-codeArrow button {
  width: 4vw; /* Increase the width */
  height: 4vh; /* Increase the height */
  font-size: 20px; /* Increase the font size */
  border: none;
  background-color: transparent;
  color: #000000;
  cursor: pointer;
}

/* Set the up-arrow image properties */
.input-container-codeArrow button img.up-arrow {
  width: 100%; /* Make the image fill the button */
  height: 100%; /* Make the image fill the button */
  object-fit: contain; /* Preserve the image aspect ratio */
  transform: rotate(270deg); /* Rotate the image 180 degrees */
  margin-top: -4vh; /* Adjust the margin-top to move the arrow up */
}

/* Set the down-arrow image properties */
.input-container-codeArrow button img.down-arrow {
  width: 100%; /* Make the image fill the button */
  height: 100%; /* Make the image fill the button */
  object-fit: contain; /* Preserve the image aspect ratio */
  transform: rotate(90deg); /* Rotate the image 180 degrees */
  margin-bottom: -2vh; /* Adjust the margin-top to move the arrow up */
}

/* Set the submit button properties */
.submitBtn-codeArrow {
  background-color: black;
  color: white;
  border: 3.5px solid #00ff06;
  font-size: 1.6em;
  font-family: 'VCRDOSDMONO';
  width: 4vw;
  height: 6vh;
  cursor: pointer;
}

/* Set the hover effect for the submit button */
.submitBtn-codeArrow:hover {
  transform: scale(1.1,1.1);
}

/* Set the close icon properties */
.close-icon-codeArrow {
  position: absolute;
  top: -16px;
  right: 10px;
  width: 1.1em; /* Adjust the width of the image as desired */
  height: 1.1em; /* Adjust the height of the image as desired */
  cursor: pointer;
}

/* Set the shake animation */
.shake {
  animation: shake 0.5s infinite;
}

/* Define the keyframes for the shake animation */
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-10px); }
  50% { transform: translateX(10px); }
  75% { transform: translateX(-10px); }
  100% { transform: translateX(0); }
}

/* Media query for horizontal mobile devices with a maximum width of 1000px */
@media only screen and (max-width: 1000px) and (orientation: landscape) {
  .centered-div-codeArrow {
      width: 70%;
      height: 70%;
  }

  #codeArrow {
      font-size: 1.5em;
  }

  .input-container-codeArrow {
      width: 6vw;
      height: 35vh;
  }

  .input-container-codeArrow .input-codeArrow {
      font-size: 3em;
      margin-top: -1.5vh;
      margin-bottom: 2vh;
  }

  .input-container-codeArrow button {
      width: 8vw;
      height: 8vh;
      font-size: 4vw;
  }

  .input-container-codeArrow button img.up-arrow {
      width: 80%;
      height: 80%;
      margin-bottom: 8vh;
  }

  .input-container-codeArrow button img.down-arrow {
      width: 80%;
      height: 80%;
      margin-bottom: 25vh;
  }

  .submitBtn-codeArrow {
      font-size: 1.2em;
      width: 5vw;
      height: 8vh;
  }
}

#fileD{
  display: flex;
}

#fileE{
  position: absolute;
  top: 15vh;
  display:none;
}

/* Game 5 MiniGame*/
/* Set the centered div properties */
.centered-div-ImageKey {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 50%;
  text-align: center;
  background-color: black;
  border-top: 1em solid white;
  border-bottom: 0.2em solid white;
  border-left: 0.2em solid white;
  border-right: 0.2em solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

/* Set the close icon properties */
.close-icon-ImageKey {
  position: absolute;
  top: -16px;
  right: 10px;
  width: 1.1em; /* Adjust the width of the image as desired */
  height: 1.1em; /* Adjust the height of the image as desired */
  cursor: pointer;
}

.centered-image-ImageKey {
  max-width: 100%;
  max-height: 100%;
}
.box {
  width: 5vw;
  height: 10vh;
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.map-container-ImageKey {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.map-container-ImageKey img {
  position: absolute;
  max-width: 70%;
  height: auto;
}



/* Media query for horizontal mobile devices with a maximum width of 1000px */
@media only screen and (max-width: 1000px) and (orientation: landscape) {
  .map-container-ImageKey img {
      width: 80%;
      height: 80%;
  }
  
}

#fileF{/*Close button not in the correct spot*/
  position: absolute;
  top:20vh;
  display: none;
}

/* Game 6 MiniGame*/
/* Set the centered div properties */
.centered-div-sequence {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 50%;
  text-align: center;
  background-color: black;
  border-top: 1em solid white ;
  border-bottom: 0.2em solid white;
  border-left: 0.2em solid white;
  border-right: 0.2em solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Set the h2 properties */
#titleSequence {
  font-family: 'VCRDOSDMONO';
  font-size: 2vw;
  color: #00ff06;
  margin-top: 0; /* Add margin-top to move it further to the top */
  margin-bottom: 10vh;
}

/* Set the message container properties */
#message-container-sequence {
  font-family: 'VCRDOSDMONO';
  font-size: 2vw;
  position: absolute;
  white-space: nowrap;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Set the message display properties */
.message-display {
  color: gray;
}

/* Set the message correct properties */
.message-correct {
  color: green;
}

/* Set the message incorrect properties */
.message-incorrect {
  color: red;
}


/* Set the horizontal properties */
.horizontalSequence {
  display: flex;
  justify-content: center; /* Center the input containers horizontally */
  margin-bottom: 5vh;
}

/* Set the close icon properties */
.close-icon-sequence {
  position: absolute;
  top: -16px;
  right: 10px;
  width: 1.1em; /* Adjust the width of the image as desired */
  height: 1.1em; /* Adjust the height of the image as desired */
  cursor: pointer;
}

/* Set the box properties */
.boxSequence {
  width: 150px;
  height: 150px;
  margin: 10px;
  cursor: pointer;
  opacity: 0.1;
}

/* Media query for horizontal mobile devices with a maximum width of 1000px */
@media only screen and (max-width: 1000px) and (orientation: landscape) {
  .centered-div-sequence {
      width: 70%;
      height: 70%;
  }

  #titleSequence {
      font-size: 1.5em;
  }

  .boxSequence {
      width: 100px;
      height: 100px;
  }
}

#fileG{ /*Close button not working*/
  position:absolute;
  display: none;
}
/*Game 7 Minigame*/
/* Set the centered div properties */
.centered-div-codeTime{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 50%;
  text-align: center;
  background-color: black;
  border-top: 1em solid white ;
  border-bottom: 0.2em solid white;
  border-left: 0.2em solid white;
  border-right: 0.2em solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Set the h2 properties */
#codeTime {
  font-family: 'VCRDOSDMONO';
  font-size: 2vw;
  color: white;
  margin-top: 0; /* Add margin-top to move it further to the top */
  margin-bottom: 7vh;
}

/* Set the timer properties */
#countdown-codeTime {
  font-family: 'VCRDOSDMONO';
  font-size: 2vw;
  color: #00ff06;
  margin-top: 0; /* Add margin-top to move it further to the top */
}

/* Set the horizontal properties */
.horizontal-codeTime {
  display: flex;
  justify-content: center; /* Center the input containers horizontally */
  margin-bottom: 5vh;
  width: 80%;
}

/* Add this CSS to style the input fields */
.horizontal-codeTime .input-codeTime {
  text-align: center;
  border: none;
  background-color: transparent;
  font-size: 5em;
  font-family: 'VCRDOSDMONO';
  color: #00ff06;
  height: 1em; /* Adjust the height of the input */
  width: 3em; /* Adjust the width of the input */
  margin-bottom: 0.5em; /* Add margin-bottom for spacing */
  border-bottom: 5px solid #00ff06; /* Adjust the thickness of the line */
  margin-right: 0.5em;
  margin-left: 0.5em;
  outline: none;
}

/* Add this CSS to remove the up and down arrows */
.horizontal-codeTime .input-codeTime::-webkit-outer-spin-button,
.horizontal-codeTime .input-codeTime::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



/* Set the submit button properties */
.submitBtn-codeTime {
  background-color: black;
  color: white;
  border: 3.5px solid #00ff06;
  font-size: 1.6em;
  font-family: 'VCRDOSDMONO';
  width: 4vw;
  height: 6vh;
  cursor: pointer;
}

/* Set the hover effect for the submit button */
.submitBtn-codeTime:hover {
  transform: scale(1.1,1.1);
}

/* Set the close icon properties */
.close-icon-codeTime {
  position: absolute;
  top: -16px;
  right: 10px;
  width: 1.1em; /* Adjust the width of the image as desired */
  height: 1.1em; /* Adjust the height of the image as desired */
  cursor: pointer;
}

/* Set the shake animation */
.shake {
  animation: shake 0.5s infinite;
}

/* Define the keyframes for the shake animation */
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-10px); }
  50% { transform: translateX(10px); }
  75% { transform: translateX(-10px); }
  100% { transform: translateX(0); }
}

/* Media query for horizontal mobile devices with a maximum width of 1000px */
@media only screen and (max-width: 1000px) and (orientation: landscape) {
  .centered-div-codeTime{
      width: 70%;
      height: 70%;
  }

  #codeTime {
      font-size: 1.5em;
  }

  #countdown-codeTime {
      font-size: 1.5em;
  }

  /* Add this CSS to style the input fields */
  .horizontal-codeTime .input-codeTime {
  font-size: 3em;
  }

  .submitBtn-codeTime {
      font-size: 1.2em;
      width: 6vw;
      height: 8vh;
  }
}

/*Adjust the rewards*/
#rewards {
  position: absolute;
  top: 30vh;
  left:0;
  width: 5vw; 
  height: auto; 
  cursor: pointer;
  padding-left: 0.5vw;
}
#spotify,#steam,#chrome{
  padding-top: 2.2vh;
  display: none;
}

/*animations*/
.slideIn {
  opacity: 0; /* Set initial opacity to 0 */
  animation:fadeInAnimation 1s linear forwards; /* Add the 'forwards' property to keep the final animation state */
  animation-delay: 0.1s; /* Add a delay of 0.5 seconds before the animation starts */
}

#expositiveFileA, #expositiveFileB, #expositiveFileC, #expositiveFileD, #expositiveFileE, #expositiveFileF, #expositiveFileG {
  cursor: pointer;
}


/* Opacity transition */

#imgTrashOpen, #imgInventoryOpen, #tableInventory,#imgCodeForms, #imgFileA , #imgFileB,#imgFileC,#imgFileCEx,#imgFileD,#imgFileDEx,#imgFileE,#imgFileEEx,#imgFileF,#imgFileFEx,#imgFileG,#imgFileGEx,#imgEndingOpen,#formEnding{

  transition: opacity 0.2s;
}


#imgTrashOpen.animated-close, #imgInventoryOpen.animated-close,#tableInventory.animated-close, #imgCodeForms.animated-close, #imgFileA.animated-close , #imgFileB.animated-close, #imgFileC.animated-close, #imgFileCEx.animated-close, #imgFileD.animated-close, #imgFileDEx.animated-close, #imgFileE.animated-close,#imgFileEEx.animated-close,#imgFileF.animated-close, #imgFileFEx.animated-close,#imgFileG.animated-close,#imgFileGEx.animated-close,#imgEndingOpen.animated-close,#formEnding.animated-close{
  opacity: 0;
}


@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


#timer{
  display: block;
  font-family: 'VCRDOSDMONO';
  src: url(../assets/fonts/VCR_OSD_MONO_1.001.ttf);
  font-size: 1.5vw;
  position: fixed;
  bottom: -1.8vh;
  right: 4vw;
  z-index: 1;
  color:white;

}
@media only screen and (max-width: 1000px) and (orientation: landscape) {
  #timer{
    
    bottom: -4vh;
   
  
  }
}

#endingFile{
  position: absolute;
  bottom: 10vh;
  left:0.2vw;
  display:flex;
}
  
#imgEndingOpen{
  z-index: 1;
  width: 55%; 
  height: auto; 
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%);
  display: none;
}

#word1,#word2,#word3,#word4,#word5{
  text-align: center;
  font-family: 'VCRDOSDMONO';
  src: url(../assets/fonts/VCR_OSD_MONO_1.001.ttf);
  border: none;
  background-color: black;
  border-bottom: 2px solid #00ff06;
  font-size: 2vw;
  color: white;
  margin-right:1vw; 
}
#word1:focus,#word2:focus,#word3:focus,#word4:focus,#word5:focus{
  outline: none;
 
}
#word1,#word5{
  width: 4.5vw;
}
#word2,#word3{
  width: 6vw;

}
#word4{
  width: 8vw;
}

#formEnding{
  display: none;
  z-index: 3;
  position: absolute;
  top:30vh;
}
#okEnding{
  cursor: pointer;
}


/* Media query for horizontal mobile devices with a maximum width of 1000px */
@media only screen and (max-width: 1000px) and (orientation: landscape) {
  /* Adjust the rewards */
  #rewards {
    position: absolute;
    top: -1vh;
    left: 12vw;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 130px;
  }

  #chrome,
  #spotify,
  #steam {
    margin: 0 0.5vw;
    padding-right: 1vw;
  }
}


