body {
    background-color: black;
    margin: 0;
}
.commandPrompt {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
}
.commandPromptLeft {
    display: flex;
    padding-left: 2vw;
    align-items: center;
}
.commandPromptLeft img {
    height: 5vh;
}
.commandPromptLeft p {
    padding-left: 1vw;
}
.commandPromptRight {
    display: flex;
    padding-right: 1vw;
    align-items: center;
}
.commandPromptRight #minimize {
    padding-right: 2vw;
}
.commandPromptRight #rectangle {
    padding-right: 2vw;
}
.commandPromptRight #close {
    height: 1.5vw;
}
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15vh;
}
.title h1 {
    color: #00ff06;
    font-size: 40px;
}
.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15vh;
}
.buttons button {
    border: none;
    color: #00ff06;
    background-color: transparent;
    font-size: 30px;
    padding-top: 5vh;
}